*{margin:0; padding:0; box-sizing: border-box;}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url('../images/apple-pie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    color:beige;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

hr {
    background-color: rgb(144, 144, 144);
    height: 3px;
}

section {
    margin: 15px 15px;
}

.container {
    max-width: 700px;
    margin: auto;
}

.ingridients ul {
    margin-left: 10px;
    list-style-type: none;
}

.directions p{
    margin-left: 10px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.icons img {
    height: 60px;
}